<template>
  <div class="container">
    <div class="row justify-content-center">
      
      <div class="col-md-12">
        <Fullcalendar :options="calendarOptions" />
      </div> 
    </div>
      <!-- Modal -->
      <Modal
         v-model="addModal"
         title="Ajouter une réservation"
         :closable="false">
               <Form :model="newEvent" :label-width="80">
                  <FormItem label="Input">
                        <Input v-model="newEvent.title" placeholder="Enter something..."></Input>
                  </FormItem>
                  <FormItem label="Début">
                        <Row>
                           <Col span="11">
                              <DatePicker type="datetime"  format="yyyy-MM-dd HH:mm"
                              @on-change="newEvent.start=$event"
                                 placeholder="Select date" :value="newEvent.start"></DatePicker>
                           </Col>
                           <Col span="2" style="text-align: center">Fin</Col>
                           <Col span="11">
                              <DatePicker type="datetime" format="yyyy-MM-dd HH:mm" 
                              @on-change="newEvent.end=$event"
                                 placeholder="Select date"  :value="newEvent.end"></DatePicker>
                           </Col>
                        </Row>
                  </FormItem>
                  <FormItem label="Liste de Salles">
                      <Select @on-change="selectSalleId=$event" v-model="newEvent.salle_id">
                          <Option v-for="item in this.calendarOptions.events" :value="1" :key="item.id">Batiment = {{ item.batiment }} Salle({{ item.numero }})</Option>
                      </Select>
                  </FormItem>
                  <p v-if="selectSalleId!=''">
                    {{this.selectSalleId}}</p>
               </Form> 
               <div slot="footer">
                  <Button type="default" @click="addModal= false"> Close</Button>
                  <Button type="primary" @click="addNewEvent"> add Event</Button>
               </div>
      </Modal>

     <!-- Edit -->
      <Modal
         v-model="modalupdate"
         title="Modifier réservation"
         :mask-closable="false"
         :closable="false">
               <Form :model="newEvent" :label-width="80">
                  <FormItem label="Input">
                        <Input v-model="newEvent.title" placeholder="Enter something..."></Input>
                  </FormItem>
                  <FormItem label="Début">
                        <Row>
                           <Col span="11">
                              <DatePicker type="datetime"  format="yyyy-MM-dd HH:mm"
                              @on-change="newEvent.start=$event"
                                 placeholder="Select date" :value="newEvent.start"></DatePicker>
                           </Col>
                           <Col span="2" style="text-align: center">Fin</Col>
                           <Col span="11">
                              <DatePicker type="datetime" format="yyyy-MM-dd HH:mm" 
                              @on-change="newEvent.end=$event"
                                 placeholder="Select date"  :value="newEvent.end"></DatePicker>
                           </Col>
                        </Row>
                  </FormItem>
                  <FormItem label="Liste de Salles"> 
                      <Select @on-change="newEvent.salle_id=$event">
                          <Option v-for="item in this.calendarOptions.resources" :value="item.id" :key="item.id">Salle:{{ item.title }}</Option>
                      </Select>
                  </FormItem>
                  <p v-if="selectSalleId!=''">{{this.selectSalleId}}</p>
                  </FormItem>
               </Form> 
               <div slot="footer">
                  <Button type="default" @click="modalClose"> Close</Button>
                  <Button type="primary" @click="updateEvent"> Update Event</Button>
                  <Button type="error" @click="deleteEvent"> Suprimer </Button>

               </div>
      </Modal>

  </div>
</template>
<script>
import Fullcalendar from "@fullcalendar/vue";
import dayGridPlugin from "@fullcalendar/daygrid";
import timeGridPlugin from "@fullcalendar/timegrid";
import resourceTimelinePlugin from '@fullcalendar/resource-timeline';
import interactionPlugin from "@fullcalendar/interaction";
import frLocale from '@fullcalendar/core/locales/fr';
import axios from "axios";
export default {
  components: {
    Fullcalendar
  },
  data() {
    return {
      newEvent: {
        title: "",
        start: "",
        end: "",
        salle_id:"",
        user_id:""
      },
      newResource: {
        id: "",
        numero: "",
        etage: "",
        secteur:"",
        batiment:"",
        nbPlaces:"",
        projecteur:"",
      },
      selectSalleId: '',
      
      // Datepicker option selection de la date à partir d'aujourd'hui
      /* options3: { 
        disabledDate (date) {
              return date && date.valueOf() < Date.now() - 86400000;
        }
      }, */
      addModal: false, //Modal visible {Falese / true} 
      modalupdate: false,
      calendarOptions: {
        plugins: [
          dayGridPlugin,
          timeGridPlugin,
          interactionPlugin, // needed for dateClick
          resourceTimelinePlugin, 
        ],
        locales: [frLocale ],
        locale: 'fr',
        timeZone: 'local',
        initialView: 'dayGridMonth',
        //initialView: 'resourceTimeline',
        //initialView: 'resourceDayGridPlugin',

        schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
      /*   resourceColumns: [
          {
            group: true,
            labelText: 'Batiment',
            field: 'batiment'
          }, 
          {
            labelText: 'Salle',
            field: 'title'
          }
        ], */
        resources: [],
        events: [],
        eventClick:this.showEvent,
        select:this.handleDateSelect,
        editable: true,
        selectable: true,
        selectMirror: true,
        dayMaxEvents: true,
        weekends: true,
      },
      addingMode: true,
      indexToUpdate: ""
    };
  },
  created() {
    this.getEvents();
    this.getResources();
  },
  methods: {
    OpenModal(){
      this.addModal= true

      console.log('add',this)
    },
    
    modalClose () {
      this.modalupdate= false
      this.newEvent = {
          title: '',
          start: '',
          end: '',
      }},
    handleDateSelect(selectInfo) {
        console.log("  add new event!", selectInfo)
        this.newEvent.start = selectInfo.start
        this.newEvent.end = selectInfo.end
        this.addModal = true
        console.log('add event',this.newEvent)

    },
    addNewEvent() {
      console.log("  add new event!", this.newEvent)
      axios
        .post("http://localhost/ReservationTest/public/api/calendar", {
          ...this.newEvent
        })
        .then(data => {
          console.log('response add event',resp.data)
          this.getEvents(); // update our list of events
          this.resetForm(); // clear newEvent properties (e.g. title, start and end)
          this.addModal= false
        })
        .catch(err =>
          console.log("Unable to add new event!", err.response.data)
        );
    },
    showEvent(arg) {
     
      this.modalupdate= true
      let events = this.calendarOptions.events
      this.addingMode = false;
      const { id, title, start, end,salle_id } = events.find(
        event => event.id === +arg.event.id
      );
      this.indexToUpdate = id;
      this.newEvent = {
        title: title,
        start: start,
        salle_id:salle_id,
        end: end
      }; 
      console.log('showevent',this.calendarOptions.resources);
      console.log('showevent',this.calendarOptions.events);


    },
    updateEvent() {
          console.log("  update event!", this.newEvent)

      axios
        .put(
          "http://localhost/ReservationTest/public/api/calendar/" +
            this.indexToUpdate,
          {
            ...this.newEvent
          }
        )
        .then(resp => {
          console.log(resp.data)
          this.resetForm();
          this.getEvents();
          this.addingMode = !this.addingMode;
          this.modalupdate= false

        })
        .catch(err =>
          console.log("Unable to update event!", err.response.data)
        );
    },
    deleteEvent() {
      axios
        .delete(
          "http://localhost/ReservationTest/public/api/calendar/" +
            this.indexToUpdate
        )
        .then(resp => {
          this.resetForm();
          this.getEvents();
          this.addingMode = !this.addingMode;
          this.modalupdate= false
        })
        .catch(err =>
          console.log("Unable to delete event!", err.response.data)
        );
    },
    getEvents() {
      axios
        .get("http://localhost/ReservationTest/public/api/calendar")
        .then(resp => {
          console.log('getallevents',resp )
          this.calendarOptions.events = resp.data.data;
          
        })
        .catch(err => console.log(err.response.data));
    },
    getResources() {
      axios
        .get("http://localhost/ReservationTest/public/api/salle")
        .then(resp => {
          console.log('getallResources',resp.data )
          this.calendarOptions.resources = resp.data.data;
        })
        .catch(err => console.log(err.response.data));
    },
    resetForm() {
      Object.keys(this.newEvent).forEach(key => {
        return (this.newEvent[key] = "");
      });
    }
  },
  watch: {
    indexToUpdate() {
      return this.indexToUpdate;
    }
  }
};
</script>
