<script>
   import FullCalendar, { Calendar } from '@fullcalendar/vue'
   import dayGridPlugin from '@fullcalendar/daygrid'
   import timeGridPlugin from '@fullcalendar/timegrid'
   import interactionPlugin from '@fullcalendar/interaction'
   import { INITIAL_EVENTS, createEventId } from './event-utils'
   export default {
      
      components: {
         FullCalendar // make the <FullCalendar> tag available
      },
      data: function() {
         return {
            // Form elements value
            formItem: {
               title: '',
               start: '',
               end: '',
               id:''
            },
            reservations:[],
            
            // Datepicker option selection de la date à partir d'aujourd'hui
            options3: { 
               disabledDate (date) {
                     return date && date.valueOf() < Date.now() - 86400000;
               }
            },
            events: "",
            addModal: false, //Modal visible {Falese / true} 
            modalupdate: false,

            calendarOptions: {
               plugins: [
                  dayGridPlugin,
                  timeGridPlugin,
                  interactionPlugin // needed for dateClick
               ],
               headerToolbar: {
                  left: 'prev,next today',
                  center: 'title',
                  right: 'dayGridMonth,timeGridWeek,timeGridDay'
               },
               initialView: 'dayGridMonth',
               //
               eventSources: [
               {
                  //events(start, end, timezone, callback)
                  events(start, callback) {

                     axios.get('http://localhost/reservationtest/public/reservation').then(response => {
                        console.log('reservation', response.data.reservation)
                     callback(response.data.reservation)
                     })
                  }, 
               } ], //eventSources
               editable: true,
               selectable: true,
               selectMirror: true,
               dayMaxEvents: true,
               weekends: true,
               select: this.handleDateSelect,
               eventClick: this.handleEventClick,
               eventsSet: this.handleEvents,
              
               
            }, //calendarOptions
            currentEvents: []
         } // return
     }, // data
     methods: {
        eventRender(info){
                console.log(info);
            },
         handleWeekendsToggle() {
            this.calendarOptions.weekends = !this.calendarOptions.weekends // update a property
         },
         handleDateSelect(selectInfo) {
            
            this.formItem.start = selectInfo.start
            this.formItem.end = selectInfo.end
            this.addModal = true
         },
         handleEventClick(clickInfo) {
            this.input = clickInfo.event.title
            this.formItem.title = clickInfo.event.title
            this.formItem.start = clickInfo.event.start
            this.formItem.end = clickInfo.event.end
            this.formItem.id = clickInfo.event.id
            //console.log('handleEventClick', this.formItem)
            this.modalupdate = true
         },
         modalClose () {
            this.modalupdate= false
            this.formItem = {
               title: '',
               start: '',
               end: '',
            }
         },
         handleEvents(events) {
         this.currentEvents = events
         },
         updateEvent (id){
            let reservation = this.formItem
            let reservationTest = this.currentEvents.find((u) => u.id === id)
               console.log('reservation',reservationTest.title)

                axios.post('http://localhost/reservationtest/public/reservation/edit/'+id,{
                    reservation
                })
                .then(response =>{ reservationTest.title = response.data.title
                     console.log('reponse',response.data.title)
                } )
                .catch(error => console.log(error));
                //console.log('this ',this)
               console.log('reservation2',reservationTest)

            this.modalupdate= false
 
         }
      }
   }
</script>
<template>
   <div class='demo-app'>
      <div class='demo-app-sidebar'>
         <div class='demo-app-sidebar-section'>
            <div class="panel-group">
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h4 class="panel-title">
                        <a data-toggle="collapse" href="#batiment">Batiments</a>
                     </h4>
                  </div>
                  <div id="batiment" class="panel-collapse collapse">
                     <ul class="list-group">
                        <li class="list-group-item">Marziano</li>
                        <li class="list-group-item">Batiment 2</li>
                        <li class="list-group-item">Batiment 3</li>
                     </ul>
                     <div class="panel-footer">Footer</div>
                  </div>
                  <div class="panel-heading">
                     <h4 class="panel-title">
                        <a data-toggle="collapse" href="#secteurs">Secteurs</a>
                     </h4>
                  </div>
                  <div id="secteurs" class="panel-collapse collapse">
                     <ul class="list-group">
                        <li class="list-group-item">Emploi</li>
                        <li class="list-group-item">Digital</li>
                        <li class="list-group-item">Logistique</li>
                     </ul>
                  </div>
                  <div class="panel-heading">
                     <h4 class="panel-title">
                        <a data-toggle="collapse" href="#salles">Salles</a>
                     </h4>
                  </div>
                  <div id="salles" class="panel-collapse collapse">
                     <ul class="list-group">
                        <li class="list-group-item">301</li>
                        <li class="list-group-item">306</li>
                        <li class="list-group-item">405</li>
                     </ul>
                  </div>
                  <div class="panel-heading">
                     <h4 class="panel-title">
                        <a data-toggle="collapse" href="#nombrePlaces">Nombre de places</a>
                     </h4>
                  </div>
                  <div id="nombrePlaces" class="panel-collapse collapse">
                     <ul class="list-group">
                        <li class="list-group-item">4</li>
                        <li class="list-group-item">8</li>
                        <li class="list-group-item">10</li>
                     </ul>
                  </div>
                  <div class="panel-heading">
                     <h4 class="panel-title">
                        <a data-toggle="collapse" href="#Projecteur">Projecteur</a>
                     </h4>
                  </div>
                  <div id="Projecteur" class="panel-collapse collapse">
                     <ul class="list-group">
                        <li class="list-group-item">Oui</li>
                        <li class="list-group-item">Non</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class='demo-app-sidebar-section'>
            <label>
            <input
               type='checkbox'
               :checked='calendarOptions.weekends'
               @change='handleWeekendsToggle'
               />
            toggle weekends
            </label>
         </div>
         <div class='demo-app-sidebar-section'>
            <h2>All Events ({{ currentEvents.length }})</h2>
            <ul>
               <li v-for='event in currentEvents' :key='event.id'>
                  <b>{{ event.startStr }}</b>
                  <i>{{ event.title }}</i>
               </li>
            </ul>
         </div>
      </div>
      <div class='demo-app-main'>
         <FullCalendar
            class='demo-app-calendar'
            :options='calendarOptions'
            :events="events"
            @eventRender="eventRender"
            >
            <template v-slot:eventContent='arg'>
               <b>{{ arg.timeText }}</b>
               <i>{{ arg.event.title }}</i>
            </template>
         </FullCalendar>
      </div>
      <!-- Modal -->
      <Modal
        v-model="addModal"
        title="Nouvelle réservation"
        :mask-closable="false"
        :closable="false">
            <Form :model="formItem" :label-width="80">
               <FormItem label="Input">
                     <Input v-model="formItem.title" placeholder="Enter something..."/> 
               </FormItem>
               <FormItem label="Début">
                     <Row>
                        <Col span="11">
                           <DatePicker type="datetime" 
                              :options="options3" 
                               format="yyyy-MM-dd HH:mm"
                              :time-picker-options="{steps: [1, 30, 15]}"
                              placeholder="Select date" v-model="formItem.start" ></DatePicker>
                        </Col>
                        <Col span="2" style="text-align: center">Fin</Col>
                        <Col span="11">
                            <DatePicker type="datetime" 
                              :options="options3"  placeholder="Select date" v-model="formItem.end"></DatePicker>
                        </Col>
                     </Row>
                     
               </FormItem>
               <FormItem label="Liste de Salles">
                     <Select >
                        <Option  value="t" >test</Option>
                     </Select>
               </FormItem>
            </Form> 
            <div slot="footer">
               <Button type="default" @click="addModal= false"> Close</Button>
               <Button type="primary" @click="addModal= false"> Add Event</Button>
            </div>
      </Modal>
      <!-- Edit -->
      <Modal
         v-model="modalupdate"
         title="Modifier réservation"
         :mask-closable="false"
         :closable="false">
               <Form :model="formItem" :label-width="80">
                  <FormItem label="Input">
                        <Input v-model="formItem.title" placeholder="Enter something..."></Input>
                  </FormItem>
                  <FormItem label="Début">
                        <Row>
                           <Col span="11">
                              <DatePicker type="datetime" 
                                 :options="options3"  placeholder="Select date" v-model="formItem.start"></DatePicker>
                           </Col>
                           <Col span="2" style="text-align: center">Fin</Col>
                           <Col span="11">
                              <DatePicker type="datetime" 
                                 :options="options3"  placeholder="Select date" v-model="formItem.end"></DatePicker>
                           </Col>
                        </Row>
                  </FormItem>
                  <FormItem label="Liste de Salles">
                     <Select >
                        <Option  value="t" >test</Option>
                     </Select>
                  </FormItem>
               </Form> 
               <div slot="footer">
                  <Button type="default" @click="modalClose"> Close</Button>
                  <Button type="primary" @click="updateEvent(formItem.id)"> Update Event</Button>
               </div>
      </Modal>


   </div>
</template>

<style lang='css'>
h2 {
  margin: 0;
  font-size: 16px;
}
ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}
li {
  margin: 1.5em 0;
  padding: 0;
}
b { /* used for event dates/times */
  margin-right: 3px;
}
.demo-app {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}
.demo-app-sidebar {
  width: 300px;
  line-height: 1.5;
  background: #eaf9ff;
  border-right: 1px solid #d3e2e8;
}
.demo-app-sidebar-section {
  padding: 2em;
}
.demo-app-main {
  flex-grow: 1;
  padding: 3em;
}
.fc { /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
}
</style>
