<template>
    <div>
        <Button type="primary" @click="addModal= true">Display dialog box</Button>
        <Table border :columns="columnsResource" :data="resources"></Table>
        <Modal
         v-model="addModal"
         title="Ajouter une salle"
         :mask-closable="false"
         :closable="true">
            <Form :model="newResource" :label-width="80">
                <Row>
                    <div class="col-md-6 col-sm-12">
                    <FormItem label="Batiment">
                        <Input prefix="md-home" v-model="newResource.batiment" placeholder=" " />
                    </FormItem>
                    </div>
                    <div class="col-md-6 col-sm-12">
                    <FormItem label="Secteur">
                        <Input prefix="ios-git-network" v-model="newResource.secteur" placeholder=" " />
                    </FormItem>
                    </div>
                </Row>
                <Row>
                    <div class="col-md-6 col-sm-12">
                    <FormItem label="Numéro">
                        <Input prefix="md-grid" type="number" v-model="newResource.numero" placeholder=" " />
                    </FormItem>
                    </div>
                    <div class="col-md-6 col-sm-12">
                    <FormItem label="Nombre de places">
                        <Input prefix="ios-people" type="number" v-model="newResource.nbPlaces" placeholder=" " />
                    </FormItem>
                    </div>
                </Row>
                <Row>
                    <div class="col-md-6 col-sm-12">
                    <FormItem label="Etage">
                        <Input prefix="md-apps" v-model="newResource.etage" placeholder=" " />
                    </FormItem>
                    </div>
                    <div class="col-md-6 col-sm-12">
                    <FormItem label="Projecteur">
                        <i-switch v-model="newResource.projecteur" size="large">
                            <span slot="open">Oui</span>
                            <span slot="close">Non</span>
                        </i-switch>
                    </FormItem>
                    </div>
                </Row>
            </Form>
           <div slot="footer">
            <Button type="primary" size="large" long  @click="addNewResource">Ajouter</Button>
        </div>
        </Modal>

        <!-- Edit modal -->
        <Modal
         v-model="updateModal"
         title="Modifier la salle"
         :mask-closable="false"
         :closable="true">
            <Form :model="newResource" :label-width="80">
                <Row>
                    <div class="col-md-6 col-sm-12">
                    <FormItem label="Batiment">
                        <Input prefix="md-home" v-model="newResource.batiment" placeholder=" " />
                    </FormItem>
                    </div>
                    <div class="col-md-6 col-sm-12">
                    <FormItem label="Secteur">
                        <Input prefix="ios-git-network" v-model="newResource.secteur" placeholder=" " />
                    </FormItem>
                    </div>
                </Row>
                <Row>
                    <div class="col-md-6 col-sm-12">
                    <FormItem label="Numéro">
                        <Input prefix="md-grid" type="number" v-model="newResource.numero" placeholder=" " />
                    </FormItem>
                    </div>
                    <div class="col-md-6 col-sm-12">
                    <FormItem label="Nombre de places">
                        <Input prefix="ios-people" type="number" v-model="newResource.nbPlaces" placeholder=" " />
                    </FormItem>
                    </div>
                </Row>
                <Row>
                    <div class="col-md-6 col-sm-12">
                    <FormItem label="Etage">
                        <Input prefix="md-apps" v-model="newResource.etage" placeholder=" " />
                    </FormItem>
                    </div>
                    <div class="col-md-6 col-sm-12">
                    <FormItem label="Projecteur">
                        <i-switch v-model="newResource.projecteur" size="large">
                            <span slot="open">Oui</span>
                            <span slot="close">Non</span>
                        </i-switch>
                    </FormItem>
                    </div>
                </Row>
            </Form>
           <div slot="footer">
            <Button type="primary" size="large" long  @click="updateResource">Modifier</Button>
            </div>
        </Modal>
    </div>
</template>
<script>
    export default {
        data () {
            return {
                addModal:false,
                updateModal: false,
                columnsResource: [
                    {
                        title: 'Batiment',
                        key: 'batiment',
                    },
                    {
                        title: 'Secteur',
                        key: 'secteur'
                    },
                    {
                        title: 'Noméro de la salle',
                        key: 'title'
                    },
                    {
                        title: 'Projecteur',
                        key: 'projecteur',
                        width: 120,
                    },
                    {
                        title: '',
                        key: 'action',
                        width: 200,
                        align: 'center',
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.update(params.row.id)
                                        }
                                    }
                                }, 'Modifier'),
                                h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'small'
                                    },
                                    on: {
                                        click: () => {
                                            this.remove(params.row.id)
                                        }
                                    }
                                }, 'Suprimer')
                            ]);
                        }
                    }
                ],
                resources: [],
                newResource: {
                    batiment:"",
                    secteur:"",
                    numero: "",
                    etage: "",
                    nbPlaces:"",
                    projecteur:"",
                },
                idToUpdate:"",
            }
        },
        created(){
            this.getList();
        },
        methods: {
            getList(){
                axios
                    .get('http://localhost/ReservationTest/public/api/salle')
                    .then(response =>{ 
                        return this.resources = response.data.data
                    } )
                    .catch(error => console.log(error));
            },
            addNewResource() {
                console.log("  add new salle!", this.newResource)
                axios.post("http://localhost/ReservationTest/public/api/salle", {
                    ...this.newResource
                    })
                    .then(data => {
                    console.log('response add event',resp)
                    this.addModal= false
                    this.getList(); // update our list of events
                    this.resetForm(); // clear newResource properties 
                    })
                    .catch(err =>
                    console.log("Unable to add new event!", err.response.data)
                    );
            },
            update (index) {
            console.log('list',this.resources)
                this.updateModal = true
                console.log('resources2',index) 
                let resource = this.resources
                let { id, batiment, secteur, title, etage, nbPlaces,projecteur } = resource.find(
                    resource => resource.id === +index
                );
                if(projecteur=='1'){
                    projecteur =true
                }else {
                    projecteur =false
                }
                this.idToUpdate = id;
                this.newResource = {
                    batiment:   batiment,
                    secteur:    secteur,
                    numero:     title,
                    etage:      etage,
                    nbPlaces:   nbPlaces,
                    projecteur: projecteur
                }; 
                console.log('showresource',this.newResource);
            },
            updateResource() {
                axios
                    .put(
                    "http://localhost/ReservationTest/public/api/salle/" +
                        this.idToUpdate,
                    {
                        ...this.newResource
                    }
                    )
                    .then(resp => {
                    console.log(resp)
                    this.updateModal= false
                    this.resetForm();
                    this.getList();

                    })
                    .catch(err =>
                    console.log("Unable to update event!", err.response.data)
                    );
            },
            remove(id) {
                console.log('resources2',id) 
                axios
                    .delete("http://localhost/ReservationTest/public/api/salle/" + id )
                    .then(resp => { 
                        this.getList();  
                    })
                    .catch(err =>
                    console.log("Unable to delete event!", err.response.data)
                    );
            },
            resetForm() {
                Object.keys(this.newResource).forEach(key => {
                    return (this.newResource[key] = "");
                });
            },
        }
    }
</script>