<template>
    <div class="container">
        <div class="row mt-3" v-for="user in users" :key="user.id">
            <div class="col">Nom :{{user.nom}}</div>
            <div class="col">Prènom :{{user.prenom}} </div>
             
            <div class="col">Admin :
                 <i-switch 
                    :before-change="handleBeforeChange" 
                    :value=user.admin
                    @on-change="change(user.id)" />
            </div>
        </div>
    </div>
   
</template>

<script>
    export default {
        data(){
            return {
                users:{} 
            }
        }, 
        created(){
            axios.get('http://localhost/ReservationTest/public/UserList')
            .then(response =>{ 
                return this.users = response.data
            } )
            .catch(error => console.log(error));
        },
        methods: {
            handleBeforeChange (id) {
                
                return new Promise((resolve) => {
                    this.$Modal.confirm({
                        title: 'Confirmer',
                        content: 'Êtes-vous sûr de changer le statut?',
                        onOk: () => {
                            resolve();
                        }
                    });
                });
            },
            // Changer role d'utilisateur
            change (id) { 
                // Trouver user pour changer son role
                const user = this.users.find((u) => u.id === id)

                axios.post('http://localhost/ReservationTest/public/UserList/update/'+id)
                .then(response =>{ user.admin=!user.admin } )
                .catch(error => console.log(error));

                // Afficher message information
                user.admin ? 
                this.$Message.info('User ' + user.nom +' est devenu admin') : 
                this.$Message.info('User ' + user.nom +' n\'est plus admin');
            }
        },
         
        mounted() {
            
            console.log('Component mounted.')
        }
    }
</script>
